img {
  display: inline-block;
  margin-bottom: 20px;
  max-width: 100%;
}

.djangocms-googlemap {
  margin-top: 20px;
}

.block {
  margin-bottom: 20px;
}

.block-header {
  margin-bottom: 20px;
}

.card {
  padding: 10px;
}

.card-body {
  padding: 10px;
  border: 1px solid #CCC;
  border-top: 4px solid #777;
  background: #FFF;
}

.footer {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 80px;
  background: #292929;
  color: #FFF;
}
